@import 'antd/dist/antd.less';
.pure-g {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.item-1-2 {
    flex-basis: 45%;
    margin: 8px;
    > div {
        padding-left: 8px;
    }
}

.field-label {
    margin-bottom: 8px;
}
